:root {
  --primary: #3982e0;
  --bg: #b4c3f0eb;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 2000px;
}

/* Navbar > home dan persyaratan*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #232447cc;
  border-bottom: 1px solid #436b9f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* Hero Section > */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 40%;
  bottom: 0;
  background: linear-gradient(0deg, #b4c3f0eb 8%, rgb(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  margin-top: 350px;
}

.hero .content h1 {
  font-size: 1.4cm;
  color: #15263e;
  text-shadow: 1px 1 px 3 px rgba(1, 1, 1, 0.8);
  line-height: 0.8;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-weight: 100;
  text-shadow: 1px 1 px 3 px rgba(14, 83, 161, 0.8);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1.6rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
  z-index: 2;
  position: absolute;
}

/* Persyaratan Section */
.Persyaratan {
  padding: 8rem 7% 1.4rem;
}
.Persyaratan h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.Persyaratan h2 span {
  color: var(--primary);
}

.Persyaratan h2 {
  margin-bottom: 1rem;
}
.Persyaratan p {
  text-align: center;
  max-width: 50rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  font-style: bold;
  color: #0c0d38;
}

.Persyaratan .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.Persyaratan .row .persyaratan-card {
  text-align: center;
  padding-bottom: 1rem;
}
.Persyaratan .row .persyaratan-card-img {
  border-radius: 50%;
  width: 80%;
}
.Persyaratan .row .persyaratan-card .persyaratan-card-title {
  margin-top: 1rem auto 0.5rem;
}
.Persyaratan p {
  font-size: 1.4rem;
}

footer {
  background-color: #232447cc;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

/* Media Queris */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
